# .env.local
ADMIN_EMAIL=tu@email.com
ADMIN_PASSWORD=changeme
RESEND_API_KEY=
CONTACT_TO_EMAIL=tuemail@gmail.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GITHUB_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_USERNAME=tuusuario